#contenedorScroll{
	background-color: rgb(0,0,255); 
	opacity: 0.5;
	background-color: rgba(0,0,255,0.5);
	border-radius: 3px;
	border
}
header{
	background-color: black;
	color: white;
	height: 1.7em;
}
nav{
	display: inline;
	background-color: grey;
}
h1{
	font-size: 70px;
	font-family: 'Bangers', cursive;
}
* {
	margin: 0;
	padding: 0;
}
body{
	background: #FFFDFA;
}
.contenido{
	width: 500px;
	margin:20px auto;
	text-align: justify;
}
.contenido p {
	margin-bottom: 1em;
}
.ir-arriba{
	display: none;
	padding: 20px;
	background: #024562;
	font-size: 20px;
	color: white;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
}